.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  background: #fff;
}

.page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);
}

.page .header .menu {
  padding: 0 1.4%;
}

.page .header .headline {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.87);
}

.page .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 73px;
}

.page .main .side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16%;
  height: 584px;
}

.page .main .controls--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 246px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);
}

.page .main .controls--item .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.page .main .controls--item .tools--half1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}

.page .main .controls--item .tools--half2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
}

.page .main .paint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .main .paint--canvas {
  background-color: gray;
}

.page .main .switch-menu {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 246px;
  -webkit-box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  list-style: none;
}

.page .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page .item--img {
  margin: 0 15px;
}

.page .item--name {
  margin: 0 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
}

.page .item .color {
  width: 23px;
  height: 23px;
  border: 1px solid #000;
  border-radius: 50%;
}

.page .item .color.gray {
  background-color: #C4C4C4;
}

.page .item .color.green {
  background-color: #41F795;
}

.page .item .color.red {
  background-color: #F74141;
}

.page .item .color.blue {
  background-color: #41B6F7;
}

.page .item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);
}

.page .item:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=style.css.map */